<header th:fragment="header" class="header" style="background: none; margin: 0 0 0 0; text-align: center;"
    xmlns:th="http://www.thymeleaf.org">
    <h1 class="header__title" style="font-size: 2em; font-weight: 700; color: #232323; margin-bottom: 4px;">
        <a th:href="@{/calendar}" style="color: #232323; text-decoration: none;">Kalendarz Studenta</a>
    </h1>
    <p class="header__tagline" style="color: #888; font-size: 1.1em; letter-spacing: 1px;">Przydatne narzędzie do
        planowania zajęć</p>
</header>